node_modules/
installer/build/
private/
csv/
ssl/
sync/
dist/*.mjs.map
import-log.txt
error-log.txt
*.zip
*.exe
*.duckdb
bigquery-credentials.json
salesforce-credentials.json
connections.json
installer/client-secrets/connections.json
tools/google-token/oauth-client.json
adls-config.json
mapping.json
mappings/
